} .desktop-1 {

position: absolute;
width: 1440px;
height: 1024px;

background: #FFFFFF;
border-radius: 30px;


} .Rectangle-18 {

position: absolute;
width: 269px;
height: 907px;
left: 0px;
top: 117px;

background: #1B0183;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);


} .Rectangle-19 {

position: absolute;
width: 439px;
height: 1024px;
left: 1004px;
top: 1px;

background: #FDF1F1;


} .Rectangle-3 {

position: absolute;
width: 662px;
height: 60px;
left: 323px;
top: 29px;

border: 0.5px solid rgba(0, 0, 0, 0.5);
box-sizing: border-box;
border-radius: 10px;


} .group-2 {

position: absolute;
width: 30px;
height: 31.25px;
left: 1265px;
top: 43px;



} .Vector {

position: absolute;
left: 88.65%;
right: 11.01%;
top: 7.04%;
bottom: 92.75%;

background: rgba(0, 0, 0, 0.75);


} .Vector {

position: absolute;
left: 87.85%;
right: 10.21%;
top: 4.27%;
bottom: 93.06%;

background: rgba(0, 0, 0, 0.75);


} .Vector {

position: absolute;
left: 89.28%;
right: 10.07%;
top: 4.2%;
bottom: 94.88%;

background: rgba(0, 0, 0, 0.75);


} .Ellipse-1 {

position: absolute;
width: 60px;
height: 60px;
left: 1338px;
top: 29px;

background: url(.png), url(.png);


} .Vector {

position: absolute;
left: 23.4%;
right: 74.72%;
top: 4.3%;
bottom: 93.06%;

background: rgba(0, 0, 0, 0.5);


} .Search Files.... {

position: absolute;
width: 172px;
height: 23px;
left: 376px;
top: 48px;

font-family: Solway;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 22px;

color: rgba(0, 0, 0, 0.5);



} .icons8:buy {

position: absolute;
width: 32px;
height: 32px;
left: 935px;
top: 418px;



} .line-md:account-small {

position: absolute;
width: 24px;
height: 24px;
left: 624px;
top: 452px;



} .gg:arrows-exchange-alt-v {

position: absolute;
width: 24px;
height: 24px;
left: 620px;
top: 322px;



} .fluent:settings-16-regular {

position: absolute;
width: 16px;
height: 16px;
left: 664px;
top: 620px;



} .Group-22 {

position: absolute;
width: 131px;
height: 182px;
left: 69px;
top: 209px;



} .Home {

position: absolute;
width: 124px;
height: 23px;
left: 69px;
top: 209px;

font-family: Solway;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 22px;

color: rgba(0, 0, 0, 0.3);



} .Files {

position: absolute;
width: 124px;
height: 23px;
left: 70px;
top: 262px;

font-family: Solway;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 22px;

color: rgba(0, 0, 0, 0.3);



} .Paper {

position: absolute;
width: 124px;
height: 23px;
left: 69px;
top: 315px;

font-family: Solway;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 22px;

color: rgba(0, 0, 0, 0.3);



} .Showcase {

position: absolute;
width: 131px;
height: 23px;
left: 69px;
top: 368px;

font-family: Solway;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 22px;

color: rgba(0, 0, 0, 0.3);



} .Rectangle-5 {

position: absolute;
width: 204px;
height: 158px;
left: 35px;
top: 751px;

background: #72DA7D;
border-radius: 10px;


} .Try the AI Future {

position: absolute;
width: 79px;
height: 35px;
left: 48px;
top: 852px;

font-family: Solway;
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 18px;

color: #FFFFFF;



} .akar-icons:arrow-right {

position: absolute;
width: 24px;
height: 24px;
left: 227px;
top: 942px;



} .Group-{

position: absolute;
left: 7.64%;
right: 91.39%;
top: 85.45%;
bottom: 13.35%;



} .Vector {

position: absolute;
left: 7.64%;
right: 91.39%;
top: 86.05%;
bottom: 13.95%;

border: 2px solid #FFFFFF;


} .Vector {

position: absolute;
left: 8.19%;
right: 91.39%;
top: 85.45%;
bottom: 13.35%;

border: 2px solid #FFFFFF;


} .Group-4 {

position: absolute;
width: 16.31px;
height: 16.5px;
left: 38.75px;
top: 963.75px;



} .Vector {

position: absolute;
left: 2.69%;
right: 96.74%;
top: 94.12%;
bottom: 4.27%;

background: rgba(0, 0, 0, 0.75);


} .Vector {

position: absolute;
left: 3.07%;
right: 96.18%;
top: 94.63%;
bottom: 4.78%;

background: rgba(0, 0, 0, 0.75);


} .LogOut {

position: absolute;
width: 108px;
height: 16px;
left: 70px;
top: 964px;

font-family: Solway;
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 18px;

color: rgba(0, 0, 0, 0.5);



} .Home {

position: absolute;
width: 311px;
height: 50px;
left: 333px;
top: 179px;

font-family: Solway;
font-style: normal;
font-weight: 500;
font-size: 48px;
line-height: 58px;

color: #000000;



} .Course Result {

position: absolute;
width: 311px;
height: 37px;
left: 333px;
top: 620px;

font-family: Solway;
font-style: normal;
font-weight: 500;
font-size: 25px;
line-height: 30px;

color: #000000;



} .Today’s Progress {

position: absolute;
width: 311px;
height: 37px;
left: 935px;
top: 620px;

font-family: Solway;
font-style: normal;
font-weight: 500;
font-size: 25px;
line-height: 30px;

color: #000000;



} .The Breif {

position: absolute;
width: 69px;
height: 16px;
left: 956px;
top: 434px;

font-family: Solway;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 18px;

color: rgba(255, 255, 255, 0.75);



} .Ellipse-10 {

position: absolute;
width: 2px;
height: 2px;
left: 967px;
top: 308px;

background: #FFFFFF;
box-shadow: 0px 0px 1px #FFFFFF;


} .Ellipse-11 {

position: absolute;
width: 2px;
height: 2px;
left: 1032px;
top: 324px;

background: #FFFFFF;
box-shadow: 0px 0px 1px #FFFFFF;


} .Ellipse-18 {

position: absolute;
width: 2px;
height: 2px;
left: 1046px;
top: 306px;

background: #FFFFFF;
box-shadow: 0px 0px 1px #FFFFFF;


} .Ellipse-19 {

position: absolute;
width: 2px;
height: 2px;
left: 1037px;
top: 357px;

background: #FFFFFF;
box-shadow: 0px 0px 1px #FFFFFF;


} .Ellipse-20 {

position: absolute;
width: 2px;
height: 2px;
left: 958px;
top: 338px;

background: #FFFFFF;
box-shadow: 0px 0px 1px #FFFFFF;


} .Ellipse-21 {

position: absolute;
width: 2px;
height: 2px;
left: 958px;
top: 380px;

background: #FFFFFF;
box-shadow: 0px 0px 1px #FFFFFF;


} .Ellipse-22 {

position: absolute;
width: 2px;
height: 2px;
left: 1003px;
top: 389px;

background: #FFFFFF;
box-shadow: 0px 0px 1px #FFFFFF;


} .Ellipse-23 {

position: absolute;
width: 2px;
height: 2px;
left: 1003px;
top: 389px;

background: #FFFFFF;
box-shadow: 0px 0px 1px #FFFFFF;


} .Ellipse-24 {

position: absolute;
width: 2px;
height: 2px;
left: 1001px;
top: 333px;

background: #FFFFFF;
box-shadow: 0px 0px 1px #FFFFFF;


} .Ellipse-25 {

position: absolute;
width: 2px;
height: 2px;
left: 1120px;
top: 316px;

background: #FFFFFF;
box-shadow: 0px 0px 1px #FFFFFF;


} .Ellipse-26 {

position: absolute;
width: 2px;
height: 2px;
left: 1115px;
top: 369px;

background: #FFFFFF;
box-shadow: 0px 0px 1px #FFFFFF;


} .Ellipse-27 {

position: absolute;
width: 2px;
height: 2px;
left: 1093px;
top: 296px;

background: #FFFFFF;
box-shadow: 0px 0px 1px #FFFFFF;


} .Ellipse-28 {

position: absolute;
width: 2px;
height: 2px;
left: 1008px;
top: 298px;

background: #FFFFFF;
box-shadow: 0px 0px 1px #FFFFFF;


} .Ellipse-29 {

position: absolute;
width: 2px;
height: 2px;
left: 1003px;
top: 359px;

background: #FFFFFF;
box-shadow: 0px 0px 1px #FFFFFF;


} .Ellipse-30 {

position: absolute;
width: 2px;
height: 2px;
left: 976px;
top: 395px;

background: #FFFFFF;
box-shadow: 0px 0px 1px #FFFFFF;


} .Ellipse-31 {

position: absolute;
width: 2px;
height: 2px;
left: 1029px;
top: 402px;

background: #FFFFFF;
box-shadow: 0px 0px 1px #FFFFFF;


} .Ellipse-32 {

position: absolute;
width: 2px;
height: 2px;
left: 1078px;
top: 416px;

background: #FFFFFF;
box-shadow: 0px 0px 1px #FFFFFF;


} .Ellipse-34 {

position: absolute;
width: 1px;
height: 1px;
left: 1100px;
top: 394px;

background: #FFFFFF;
box-shadow: 0px 0px 1px #FFFFFF;


} .Ellipse-35 {

position: absolute;
width: 1px;
height: 1px;
left: 1078px;
top: 346px;

background: #FFFFFF;
box-shadow: 0px 0px 1px #FFFFFF;


} .Ellipse-33 {

position: absolute;
width: 1px;
height: 1px;
left: 1057px;
top: 404px;

background: #FFFFFF;
box-shadow: 0px 0px 1px #FFFFFF;


} .Ellipse-12 {

position: absolute;
width: 3px;
height: 3px;
left: 1067px;
top: 312px;

background: #FFFFFF;
box-shadow: 0px 0px 1px #FFFFFF;


} .Ellipse-36 {

position: absolute;
width: 3px;
height: 3px;
left: 948px;
top: 318px;

background: #FFFFFF;
box-shadow: 0px 0px 1px #FFFFFF;


} .Ellipse-37 {

position: absolute;
width: 2px;
height: 2px;
left: 956px;
top: 360px;

background: #FFFFFF;
box-shadow: 0px 0px 1px #FFFFFF;


} .Ellipse-13 {

position: absolute;
width: 2px;
height: 2px;
left: 984px;
top: 355px;

background: #FFFFFF;
box-shadow: 0px 0px 1px #FFFFFF;


} .Ellipse-14 {

position: absolute;
width: 1px;
height: 1px;
left: 990px;
top: 316px;

background: #FFFFFF;
box-shadow: 0px 0px 1px #FFFFFF;


} .Ellipse-15 {

position: absolute;
width: 1px;
height: 1px;
left: 1059px;
top: 346px;

background: #FFFFFF;
box-shadow: 0px 0px 1px #FFFFFF;


} .Ellipse-16 {

position: absolute;
width: 1px;
height: 1px;
left: 1019px;
top: 345px;

background: #FFFFFF;
box-shadow: 0px 0px 1px #FFFFFF;


} .Ellipse-17 {

position: absolute;
width: 1px;
height: 1px;
left: 1019px;
top: 345px;

background: #FFFFFF;
box-shadow: 0px 0px 1px #FFFFFF;


} .Rectangle-12 {

position: absolute;
width: 245px;
height: 227px;
left: 1123px;
top: 189px;

background: #C34DD7;
box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
border-radius: 20px;


} .Rectangle-7 {

position: absolute;
width: 292px;
height: 273px;
left: 333px;
top: 279px;

background: #FFFFFF;
box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
border-radius: 20px;


} .Ellipse-3 {

position: absolute;
width: 60px;
height: 60px;
left: 458px;
top: 284px;

background: url(.jpg);
filter: drop-shadow(0px 12px 20px rgba(0, 60, 168, 0.5));


} .Ellipse-4 {

position: absolute;
width: 60px;
height: 60px;
left: 509px;
top: 287px;

background: url(.png), #E3E6E8;
box-shadow: 0px 12px 20px rgba(108, 119, 139, 0.5);


} .Ellipse-5 {

position: absolute;
width: 60px;
height: 60px;
left: 406px;
top: 289px;

background: url(.png), #E3E6E8;
box-shadow: 0px 12px 20px rgba(218, 94, 5, 0.5);


} .la:microphone {

position: absolute;
width: 32px;
height: 32px;
left: 539px;
top: 613px;



} .fluent:call-16-regular {

position: absolute;
width: 16px;
height: 16px;
left: 610px;
top: 726px;



} .Group-8 {

position: absolute;
width: 30px;
height: 30px;
left: 464px;
top: 513px;



} .Ellipse-7 {

position: absolute;
width: 30px;
height: 30px;
left: 464px;
top: 513px;

background: #00A3FF;
opacity: 0.2;


} .Group-{

position: absolute;
left: 32.85%;
right: 66.28%;
top: 50.78%;
bottom: 47.66%;



} .Vector {

position: absolute;
left: 32.85%;
right: 66.28%;
top: 50.78%;
bottom: 47.66%;

background: #00728B;


} .Group-9 {

position: absolute;
width: 30px;
height: 30px;
left: 523px;
top: 513px;



} .Ellipse-8 {

position: absolute;
width: 30px;
height: 30px;
left: 523px;
top: 513px;

background: #8000FF;
opacity: 0.2;


} .Group-6 {

position: absolute;
width: 13.91px;
height: 15px;
left: 531px;
top: 521px;



} .Vector {

position: absolute;
left: 36.88%;
right: 62.16%;
top: 50.88%;
bottom: 47.66%;

background: #6D029F;


} .Vector {

position: absolute;
left: 37.11%;
right: 62.36%;
top: 51.17%;
bottom: 48.26%;

background: #6D029F;


} .akar-icons:circle-check {

position: absolute;
width: 24px;
height: 24px;
left: 1195px;
top: 623px;



} .Group-10 {

position: absolute;
width: 30px;
height: 30px;
left: 582px;
top: 513px;



} .Ellipse-9 {

position: absolute;
width: 30px;
height: 30px;
left: 582px;
top: 513px;

background: #FF0000;
opacity: 0.2;


} .Group-{

position: absolute;
left: 40.97%;
right: 58.06%;
top: 50.88%;
bottom: 47.75%;



} .Vector {

position: absolute;
left: 41.26%;
right: 58.35%;
top: 51.39%;
bottom: 48.2%;

border: 1.5px solid #FF0000;


} .Vector {

position: absolute;
left: 40.97%;
right: 58.06%;
top: 50.88%;
bottom: 47.75%;

border: 1.5px solid #FF0000;


} .English Litrature {

position: absolute;
width: 88px;
height: 32px;
left: 460px;
top: 377px;

font-family: Solway;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 18px;
} .or 100% {

color: #000000;



} .Rectangle-10 {

position: absolute;
width: 62px;
height: 21px;
left: 559px;
top: 381px;

background: rgba(0, 209, 255, 0.25);
border-radius: 5px;


} .Class {

position: absolute;
width: 27px;
height: 19px;
left: 577px;
top: 382px;

font-family: Solway;
font-style: normal;
font-weight: normal;
font-size: 10px;
line-height: 18px;
} .or 180% {

color: #005B9D;



} .You have a class in 45 min {

position: absolute;
width: 176px;
height: 15px;
left: 456px;
top: 427px;

font-family: Solway;
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 18px;
} .or 150% {

color: rgba(0, 0, 0, 0.5);



} .Group-14 {

position: absolute;
width: 83px;
height: 253px;
left: 331px;
top: 704px;



} .Rectangle-11 {

position: absolute;
width: 83px;
height: 253px;
left: 331px;
top: 704px;

border: 2px dashed rgba(0, 0, 0, 0.5);
box-sizing: border-box;
border-radius: 50px;


} .Litrature {

position: absolute;
width: 85px;
height: 14px;
left: 364px;
top: 819px;

font-family: Solway;
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 18px;
} .or 120% {

color: rgba(0, 0, 0, 0.8);

transform: rotate(-90deg);


} .Due {

position: absolute;
width: 33px;
height: 15px;
left: 360px;
top: 915px;

font-family: Solway;
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 18px;
} .or 120% {

color: rgba(0, 0, 0, 0.5);



} .Group-15 {

position: absolute;
width: 83px;
height: 253px;
left: 440px;
top: 704px;



} .Rectangle-12 {

position: absolute;
width: 83px;
height: 253px;
left: 440px;
top: 704px;

background: #FFFFFF;
box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07), 0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725);
border-radius: 50px;


} .Geography {

position: absolute;
width: 85px;
height: 14px;
left: 472px;
top: 819px;

font-family: Solway;
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 18px;
} .or 120% {

color: rgba(0, 0, 0, 0.8);

transform: rotate(-90deg);


} .89% {

position: absolute;
width: 51px;
height: 21px;
left: 465px;
top: 915px;

font-family: Solway;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 18px;
} .or 75% {

color: #000000;



} .Group-16 {

position: absolute;
width: 83px;
height: 253px;
left: 549px;
top: 704px;



} .Rectangle-12 {

position: absolute;
width: 83px;
height: 253px;
left: 549px;
top: 704px;

background: #FFFFFF;
box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07), 0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725);
border-radius: 50px;


} .History {

position: absolute;
width: 85px;
height: 14px;
left: 581px;
top: 819px;

font-family: Solway;
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 18px;
} .or 120% {

color: rgba(0, 0, 0, 0.8);

transform: rotate(-90deg);


} .78% {

position: absolute;
width: 51px;
height: 21px;
left: 574px;
top: 915px;

font-family: Solway;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 18px;
} .or 75% {

color: #000000;



} .Group-18 {

position: absolute;
width: 83px;
height: 253px;
left: 767px;
top: 704px;



} .Rectangle-12 {

position: absolute;
width: 83px;
height: 253px;
left: 767px;
top: 704px;

background: #FFFFFF;
box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07), 0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725);
border-radius: 50px;


} .Biology {

position: absolute;
width: 85px;
height: 14px;
left: 799px;
top: 819px;

font-family: Solway;
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 18px;
} .or 120% {

color: rgba(0, 0, 0, 0.8);

transform: rotate(-90deg);


} .65% {

position: absolute;
width: 51px;
height: 21px;
left: 792px;
top: 915px;

font-family: Solway;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 18px;
} .or 75% {

color: #000000;



} .Group-17 {

position: absolute;
width: 83px;
height: 253px;
left: 658px;
top: 704px;

filter: drop-shadow(0px 41.7776px 33.4221px rgba(78, 71, 187, 0.17)), drop-shadow(0px 22.3363px 17.869px rgba(78, 71, 187, 0.09)), drop-shadow(0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035)), drop-shadow(0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725)), drop-shadow(0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802));


} .Rectangle-12 {

position: absolute;
width: 83px;
height: 253px;
left: 658px;
top: 704px;

background: #4E47BB;
box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07), 0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725);
border-radius: 50px;


} .Algebra {

position: absolute;
width: 85px;
height: 14px;
left: 690px;
top: 819px;

font-family: Solway;
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 18px;
} .or 120% {

color: rgba(255, 255, 255, 0.8);

transform: rotate(-90deg);


} .91% {

position: absolute;
width: 51px;
height: 21px;
left: 683px;
top: 915px;

font-family: Solway;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 18px;
} .or 75% {

color: #FFFFFF;



} .Vectary texture {

position: absolute;
width: 300px;
height: 233.03px;
left: 1123px;
top: 269px;

background: url(.png);
filter: drop-shadow(0px 100px 80px rgba(0, 0, 0, 0.07)), drop-shadow(0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198)), drop-shadow(0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275)), drop-shadow(0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035)), drop-shadow(0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725)), drop-shadow(0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802));


} .Geography {

position: absolute;
width: 169px;
height: 40px;
left: 1182px;
top: 473px;

font-family: Solway;
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 36px;

color: #FFFFFF;



} .The Study of Earth {

position: absolute;
width: 139px;
height: 16px;
left: 1195px;
top: 459px;

font-family: Solway;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 18px;

color: rgba(255, 255, 255, 0.75);



} .Rectangle-13 {

position: absolute;
width: 428px;
height: 90px;
left: 927px;
top: 717px;

border: 3px dashed rgba(0, 0, 0, 0.25);
box-sizing: border-box;
border-radius: 20px;


} .Rectangle-15 {

position: absolute;
width: 277px;
height: 66px;
left: 674px;
top: 486px;

background: #FFFFFF;
border-radius: 20px;


} .Group-19 {

position: absolute;
width: 90px;
height: 90px;
left: 1274px;
top: 633px;

filter: drop-shadow(0px 100px 80px rgba(78, 71, 187, 0.2)), drop-shadow(0px 30px 36.9864px rgba(77, 69, 192, 0.15)), drop-shadow(0px 26.4535px 21.1628px rgba(78, 70, 188, 0.07)), drop-shadow(0px 16.0571px 12.8457px rgba(78, 71, 187, 0.09)), drop-shadow(0px 9.67509px 7.74008px rgba(0, 0, 0, 0.0322036)), drop-shadow(0px 5.38772px 4.31018px rgba(0, 0, 0, 0.0261253)), drop-shadow(0px 2.31722px 1.85378px rgba(0, 0, 0, 0.0180827));


} .Rectangle-15 {

position: absolute;
width: 90px;
height: 90px;
left: 1274px;
top: 633px;

background: #4E47BB;
border-radius: 30px;


} .Vector {

position: absolute;
left: 91.11%;
right: 7.53%;
top: 65.14%;
bottom: 32.71%;

background: #FFFFFF;


} .In Progress {

position: absolute;
width: 104px;
height: 27px;
left: 1268px;
top: 738px;

font-family: Solway;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 22px;

color: #000000;



} .In Progress {

position: absolute;
width: 104px;
height: 27px;
left: 1227px;
top: 919px;

font-family: Solway;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 22px;

color: #000000;



} .Project Management 2 {

position: absolute;
width: 234px;
height: 27px;
left: 982px;
top: 704px;

font-family: Solway;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 22px;

color: #000000;



} .Project Management 3 {

position: absolute;
width: 234px;
height: 27px;
left: 950px;
top: 885px;

font-family: Solway;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 22px;

color: #000000;



} .75% {

position: absolute;
width: 38px;
height: 26px;
left: 982px;
top: 738px;

font-family: Solway;
font-style: normal;
font-weight: 500;
font-size: 22px;
line-height: 26px;

color: #000000;



} .11% {

position: absolute;
width: 29px;
height: 26px;
left: 982px;
top: 919px;

font-family: Solway;
font-style: normal;
font-weight: 500;
font-size: 22px;
line-height: 26px;

color: #000000;



} .Group-21 {

position: absolute;
width: 59px;
height: 201px;
left: 1035px;
top: 741px;



} .Group-20 {

position: absolute;
width: 59px;
height: 20px;
left: 1035px;
top: 741px;



} .Rectangle-16 {

position: absolute;
width: 59px;
height: 20px;
left: 1035px;
top: 741px;

background: rgba(78, 71, 187, 0.39);
border-radius: 50px;


} .Group-21 {

position: absolute;
width: 59px;
height: 20px;
left: 1035px;
top: 922px;



} .Rectangle-16 {

position: absolute;
width: 59px;
height: 20px;
left: 1035px;
top: 922px;

background: rgba(78, 71, 187, 0.39);
border-radius: 50px;


} .Rectangle-17 {

position: absolute;
width: 44px;
height: 20px;
left: 1035px;
top: 741px;

background: #4E47BB;
border-radius: 50px;


} .dropbox 1 {

position: absolute;
width: 58px;
height: 60px;
left: 63px;
top: 29px;

background: url(dropbox.png);


} .Rectangle-14 {

position: absolute;
width: 285px;
height: 51px;
left: 672px;
top: 405px;

background: #FFFFFF;
box-shadow: -20px 40px 50px rgba(78, 71, 187, 0.25);
border-radius: 20px;
